/* non highlighted code colors */
/* ------------------------------------------------------------------------- */
/* Vars */
/* ------------------------------------------------------------------------- */
/* Layout */
body {
  background: #fdf6e3;
  color: #002b36;
}

a {
  color: #cb4b16;
  text-decoration: none;
}

.container {
  *zoom: 1;
  max-width: 59em;
  _width: 59em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
}
.container:after {
  content: "";
  display: table;
  clear: both;
}

h1 {
  color: #d33682;
  font-size: 2em;
  width: 66.102%;
  float: left;
  margin-right: 1.695%;
  display: inline;
}

h2 {
  width: 32.203%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
  text-align: center;
}

header {
  width: 100%;
  float: left;
  margin-right: 1.695%;
  display: inline;
  background: #eee8d5;
  margin-bottom: 1.5em;
}

section {
  width: 66.102%;
  float: left;
  margin-right: 1.695%;
  display: inline;
}

blockquote {
  margin: 0;
  padding: 0;
  margin-left: 12.821%;
  margin-bottom: 3em;
  border-left: 0.25em solid #d33682;
  font-size: 1.5em;
}
blockquote p {
  padding-left: 8.475%;
  padding-right: 8.475%;
}

blockquote + p {
  width: 48.718%;
  background: #b58900;
}
blockquote + p + p {
  width: 23.077%;
  background: #cb4b16;
  margin-left: 64.103%;
}
blockquote + p + p + p {
  background: #859900;
  margin-left: 38.462%;
}

.box {
  background: #93a1a1;
  text-align: center;
  color: #eee8d5;
  min-height: 10em;
  width: 32.203%;
  float: left;
  margin-right: 1.695%;
  display: inline;
  margin-bottom: 3em;
}
.box p {
  font-size: 1.125em;
}
.box:nth-child(3n) {
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
}

aside {
  width: 32.203%;
  float: left;
  margin-right: 1.695%;
  display: inline;
}
aside ul {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  margin: 0;
  padding: 0;
}
aside li {
  border-bottom-style: solid;
  border-bottom-width: 1.333;
  padding-bottom: 30px;
  border-color: #93a1a1;
  padding-top: 1.5em;
}

footer {
  width: 83.051%;
  float: left;
  margin-right: 1.695%;
  display: inline;
  padding-left: 8.475%;
  padding-right: 8.475%;
  margin-top: 4.5em;
  background: #002b36;
  color: #eee8d5;
}
